<div class="card">
    <div class="card-header">
        Salida de vehiculos
    </div>
    <div class="card-body">

        <form ngNativeValidate [formGroup]="formIngreso" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Hora de ingreso</label>
              <input type="datetime"
                class="form-control"   name="" id="" formControlName="hora_entrada" aria-describedby="helpId" placeholder="Seleccione la fecha y hora de ingreso" readonly>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Hora de salida</label>
              <input required type="datetime-local"
                class="form-control" name="" id="" formControlName="hora_salida" aria-describedby="helpId" placeholder="Seleccione la fecha y hora de salida">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Placa</label>
              <input type="text"
                class="form-control" name="" id="" formControlName="Placa" aria-describedby="helpId" placeholder="Digite la placa del vehiculo" readonly>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Marca</label>
              <input type="text"
                class="form-control" name="" id="" formControlName="marca" aria-describedby="helpId" placeholder="Digite la marca del vehiculo" readonly>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Color</label>
              <input type="text"
                class="form-control" name="" id="" formControlName="color" aria-describedby="helpId" placeholder="Digite el color del vehiculo" readonly>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Tipo</label>
              <input type="text"
                class="form-control" name="" id=""  formControlName="tipo"  aria-describedby="helpId" placeholder="Digite el tipo de vehiculo" readonly>
            </div>
           <div class="mb-3">
              <label for="" class="form-label">Cobro</label>
              <input required type="text"
                class="form-control" name=""  id="" formControlName="cobro" aria-describedby="helpId" placeholder="El valor a pagar es de" >
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Estado</label>
              <input required id="quantity" type="number" min="0" max="1"
                class="form-control" name="" id="" formControlName="estado" aria-describedby="helpId" placeholder="Digite el estado en el que se encuentra el vehiculo">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-warning">Dar salida</button>
                <button type="button" routerLink="/registros-automovil/" class="btn btn-primary ">Cancelar</button>
            </div>
        </form>
    </div>
    <h6>Prueba tecnica de Andres Solano para Similtech</h6>
</div>